<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet">
    <title>Список пользователей</title>
</head>
<body>
    <h1 style="text-align: center;">Система управления пользователями</h1>
    <h2 style="text-align: center;">Зарегистрированные пользователи</h2>
  
    <table id="usersTable">
        <thead>
            <tr>
                <th>№</th>
                <th>Имя пользователя</th>
                <th>Telegram ID</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.telegram_id if user.telegram_id else 'Не привязан' }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="div" style="text-align: center; margin-top: 20px;">
        <button class="button" onclick="window.location.href='/'">На главную</button>
        <button class="button" onclick="window.location.href='/login/'">Вход</button>
        <button class="button" onclick="window.location.href='/register/'">Регистрация</button>
    </div>
</body>
</html>
